.body
    .divOne
        span 项目：
            Input(clearable,style="width: 260px")
    .divOne
        span 参建单位：
            Input(clearable,style="width: 260px")
    .divOne
        span 项目名称：
            Input(clearable,style="width: 260px")
    .divOne
        span 姓名：
            Input(clearable,style="width: 260px")
    .divOne
        span 工种：
            Input(clearable,style="width: 260px")
    .divOne
        span 类型：
            Input(clearable,style="width: 260px")
    .divOne
        Button 搜索
    .hr
    .button
        Button(type="primary", ghost, icon="ios-log-out",@click="commentsExport()") 导出
    .hr
    .people(v-for="item in getComments()")
        div(:class="isChecked(item.id) ? 'pop' : 'pTop'", @click="clickChecked(item.id)")
        .circle
            img(:src="'http://113.105.121.93:1818'+item.photo",:style={
                'width': '100%', 'height': '100%',
                'border-radius': '50%'
            })
        .name
            span {{item.name}}
        Rate(disabled, :value="getStat(item.avg)")
        span(:style={'color': '#f78803','margin-left':'70px','font-size':'18px'}) {{getStat(item.avg)}}
        .comment
            .com 好评{{item.difference}}
            .com 中评{{item.in}}
            .com 差评{{item.good}}
        .y1
            span(:style={'color':'#000000','font-weight':'bold','font-size':'15px'}) 所在项目
            span {{item.project_name}}
        .y1
            span(:style={'color':'#000000','font-weight':'bold','font-size':'15px'}) 所属工种
            span {{item.work_type}}
        .y2
            Button(type="primary", ghost,@click="details(item.archives_id)") 查看详情
            Button(type="primary", ghost,@click="addCommtentlist(item.archives_id)") 添加评价

    .footer
        Page(:total="totalRecords",show-sizer,show-elevator,show-total,@on-page-size-change="onPageSizeChange",@on-change="onPageIndexChange")
    Modal(:value="addCommtent",title="添加评价",@on-ok="ok()",@on-cancel="cancel()",width='70%')
     .maxBody
         Tabs(value="name1")
             TabPane( label="不良评价",name="name1")
                 .div
                     .d1
                         span 选择项目
                         span(:style={'color': 'red'}) *
                     .d2
                         Input(clearable,style="width: 380px",size=large,v-model="project")
                 .div
                     .d1
                         span 添加人姓名
                         span(:style={'color': 'red'}) *
                     .d2
                         Input(clearable,style="width: 380px",size=large,v-model="project_to_name")
                 .div
                     .d1
                         span 不良记录评价
                         span(:style={'color': 'red'}) *
                     .d2
                         Input(clearable,style={'width': '380px' ,'height':'70px'},size=large,type="textarea",v-model="description")
                 .div
                     .d1
                        span 事件时间
                        span(:style={'color': 'red'}) *
                     .d2
                        DatePicker(type="date",v-model="appraise_time")
                 .div
                     .d1
                         span 添加图片
                     .d2
                         Upload(multiple,type="drag",action="//jsonplaceholder.typicode.com/posts/",:style={
                             'width': '30%'
                         })
                             div(style="padding: 20px 0")
                                 Icon(type="ios-add" size="52" style="color: #3399ff")
                                 p 点击上传
                 .div
                     .d1
                         span 处罚
                         span(:style={'color': 'red'}) *
                     .d2
                         Select(clearable,style="width:380px",v-model="punishment")
                            Option(v-for="item in getCommentType()", :value="item.name", :key="item.name")
             TabPane( label="综合评价",name="name2",style="height: 430px")
                .yu1
                    .dd
                        .m1
                            span 所属项目
                            span(:style={'color': 'red'}) *
                        .m2
                            Input(clearable,style="width: 380px",size=large,type="textarea",v-model="project_name")
                    .dd
                        .m1
                            span 添加人姓名
                            span(:style={'color': 'red'}) *
                        .m2
                            Input(clearable,style="width: 380px",size=large,type="textarea",v-model="project_to_name")
                    .dd
                        .m1
                            span 评语
                            span(:style={'color': 'red'}) *
                        .m2
                            Input(clearable,style="width: 380px",size=large,type="textarea",v-model="description")
                    .dd
                        .m1
                            span 添加图片
                        .m2
                            Upload(multiple,type="drag",action="//jsonplaceholder.typicode.com/posts/",:style={
                                'width': '30%'
                            })
                                div(style="padding: 20px 0")
                                    Icon(type="ios-add" size="52" style="color: #3399ff")
                                    p 点击上传
                .yu2
                    .x
                        span 态度
                        Rate(v-model="appraise_score")
                    .x
                        span 技术
                        Rate(v-model="modifyBy")
                    .x
                        span 专业
                        Rate(v-model="createBy")
    Modal(:value="commtentcInfo",title="评价详情",@on-ok="okInfo()",@on-cancel="cancelInfo()",width='1180px')
        .peoples(v-for="item in getObtain()")
            .middleHr
            .minBody
               .c1
                   .c2
                       .c5
                            .c7
                                span {{item.name}}
                            .c8
                                .c9
                                    span {{item.work_type}}
                       .c6
                           span {{item.project}}
                   .c3
                       .ulDiv
                           ul
                               li 1
                               li 2
                               li 3
                               li 4
                               li 5
                   .c4
                       .cc
                           span {{getStat(item.avg)}}
                       Rate(:value="getStat(item.avg)",disabled)
               .c10
               .peoples(v-for="items in getObtains()")
                   .c11
                       .threeDiv
                           .c12
                               .c15
                                   p {{items.description}}
                               .c16
                                   .c17
                                       p(v-if="items.type == 1") {{getTime(items.appraise_time)}}
                                       p(v-if="items.type == 2") {{getTime(items.createOn)}}
                                   .c17
                                       img(src="~@/assets/css/images/commentOne.png" :style={'width':'59px','height':'25px'}, v-if="items.type == 1")
                                       img(src="~@/assets/css/images/commentsTwo.png" :style={'width': '59px','height': '25px'}, v-else-if="items.type == 2")
                                       img(src="~@/assets/css/images/commentThree.png" :style={'width': '59px','height': '25px'}, v-else-if="items.type == 3")
                           .c13
                               p(v-if="items.type == 1")  处罚：{{items.punishment}}
                               Rate(:value="items.appraise_score",disabled , v-else-if="items.type == 2")
                           .c14
                               p(:style={'color': '#1397ff', 'font-size': '16px', 'margin-right': '20px'}) {{items.project_name}}
                               p(:style={'color': '#9b9b9b', 'font-size': '12px','margin-top':'45px', 'margin-right': '20px'}) {{items.project_to_name}}
                       hr
