.body
    div
        p(:style="{fontSize: '16px',fontWeight: 'bold'}") 培训课件

        div(class="selectedList")
            div(class="condition")
                span(:style="{fontSize: '16px',float: 'left',marginRight: '10px',paddingTop: '14px',color: '#789fef'}") 已选条件
                div(class="selected",v-if="selectTitle") {{selectTitle}}
                    Icon(type="ios-backspace-outline",@click="clearSelectTitle()")
                div(class="selected",v-if="selectWhether") {{selectWhether}}
                    Icon(type="ios-backspace-outline",@click="clearWhethers()")
                div(class="selected",v-if="selectTypeWork") {{selectTypeWork}}
                    Icon(type="ios-backspace-outline",@click="clearSelectTypeWork()")
                div(class="selected",v-if="selectCourse") {{selectCourse}}
                    Icon(type="ios-backspace-outline",@click="clearSelectCourse()")
            div(class="selectButton")
                div(class="reset",@click="reset()") 重置
                div(class="inquire",@click="searchUserList()") 查询
        div(class="select")
            div(class="divSelect")
                div(class="selectTitle") 所属类型
                div(class="selectValue")
                    Col(style="padding-right:10px")
                        Select(filterable,clearable,v-model="selectCourse")
                            Option(v-for="item in getCType()", :value="item.name", :key="item.name") {{item.name}}
            div(class="divSelect")
                div(class="selectTitle") 选择工种
                div(class="selectValue")
                    Col(style="padding-right:10px")
                        Select(filterable,clearable,v-model="selectTypeWork")
                            Option(v-for="item in getType()", :value="item.name", :key="item.name") {{item.name}}
            div(class="divSelect")
                div(class="selectTitle") 是否必学
                div(class="selectValue")
                    Col(style="padding-right:10px")
                        Select(filterable,clearable,v-model="selectWhether")
                            Option(v-for="item in getIsType()", :value="item.value", :key="item.value") {{item.value}}
            div(class="divSelect")
                div(class="selectTitle") 搜索课程
                div(class="selectValue")
                    Input(clearable,placeholder="请输入",v-model="selectTitle")


        div(class="pullDown",v-if="pullDown == false")
            img(src="~@/assets/css/images/下拉.png",@click="switchTo()")
        div(class="pullDown",v-else)
            img(src="~@/assets/css/images/上拉.png",@click="switchTo()")


    div(class="button")
        Button(type="primary",ghost,icon="ios-add-circle-outline",@click="clickAddCourseWare()") 新增课程
    div
        div(class="courseware",v-for="item in getCourseWareList()")
            div(class="divCourseWare")
                div(class="divCourseWare1")
                    span(:style={
                        'font-size': '18px',
                        'line-height': '40px',
                        'margin-left': '14px'
                    }) {{item.title}}
                div(class="divCourseWare2")
                        Dropdown(@on-click = "change")
                            a(href="javascript:void(0)",:style={"color": "#ffffff"})
                                Icon(type="ios-more")
                            DropdownMenu(slot="list")
                                DropdownItem(:name="'edit_'+item.id")
                                    span 编辑
                                DropdownItem(:name="'del_'+item.id")
                                    span 删除
            .div2
                img(:src="'/api/workerlib/preview/courseware/cover_picture/'+item.id", :style={'width': '100%', 'height': '100%'})
            .div3
                .left
                    span(:style={
                        'font-size': '18px'
                    }) {{item.total_hours}}分钟
                .right
                    span(:style={'color': '#0090ff'}) {{item.course}}
                .butt
                    Button(type="primary",ghost,@click="viewData(item.id,item.title)") 新建培训计划



    Modal(:value="addCourseware",title="课件上传",@on-ok="ok()",@on-cancel="cancel()",width='60%',:loading="loading",:transfer="false")
        template
            Tabs(v-model="pageName")
                TabPane(label="基本信息",name="name1", icon="ios-paper-outline")
                    .addBody
                        .divTwo
                            .name
                                span 课件名称
                                span(:style={'color': 'red'}) *
                            .input
                                Input(clearable,style="width: 345px",size=large,v-model="title",placeholder="请输入课件名称")
                        .divTwo
                            .name
                                span 课程
                                span(:style={'color': 'red'}) *
                            .input
                                Select(filterable,clearable,style="width:345px",v-model="course",placeholder="选择分类")
                                    Option(v-for="item in getCType()", :value="item.name", :key="item.name") {{item.name}}
                        .divTwo
                            .name
                                span 总课时(分钟)
                                span(:style={'color': 'red'}) *
                            .input
                                Input(clearable,style="width: 345px",size=large,v-model="totalHours",placeholder="请输入总课时(分钟)")
                        .divTwo
                            .name
                                span 授课方式
                                span(:style={'color': 'red'}) *
                            .input
                                Button(disabled) 录播
                        .divTwo
                            .name
                                span 是否必学课程
                                span(:style={'color': 'red'}) *
                            .input
                                RadioGroup(v-model="whether")
                                    Radio(label="是")
                                        span 是
                                    Radio(label="否")
                                        span 否
                                //Radio(v-model="whether",disabled) 是
                        .divTwo
                            .name
                                span 绑定课件工种分类
                                span(:style={'color': 'red'}) *
                            .input
                                Select(clearable,multiple,style="width:345px",v-model="typeWork",filterable,placeholder="选择分类",placement="top-start")
                                    Option(v-for="item in getType()", :value="item.name", :key="item.name") {{item.name}}
                TabPane(label="资料上传",name="name2",icon="ios-cloud-upload-outline")
                    Upload(multiple,type="drag",action="/api/workerlib/courseware/video/upload",
                    :on-success="handleSuccessVideo",:format="['ogg','mp4','WebM','ppt','pptx']",:on-format-error="handleFormatError",
                    :style={
                        'width': '90%',
                        'margin-top': '5%',
                        'margin-right': 'auto',
                        'margin-left':'auto'
                    })
                        div(style="padding: 90px 0")
                            Icon(type="ios-add" size="52" style="color: #3399ff")
                            p 点击上传
                            p （请上传ogg,mp4,WebM格式视频或幻灯片(PPT)）
                            p(v-if="this.store.courseWare.video") 已上传:
                                span(:style="{'color':'#2d8cf0'}") {{this.store.courseWare.video}}
                TabPane(label="课件详情",name="name3",icon="ios-folder-outline")
                    Upload(type="drag",action="/api/workerlib/courseware/cover_picture/upload",
                    :on-success="handleSuccessPicture",:format="['jpg','jpeg','png']",:on-format-error="handleFormatPictrueError",
                    :style={
                        'width': '60%',
                        'margin-top': '3%',
                        'margin-right': 'auto',
                        'margin-left': 'auto'
                    })
                        div(style="padding: 50px 0")
                            Icon(type="ios-add" size="52" style="color: #3399ff")
                            p 封面图片
                            p （点击上传）
                            p （请上传jpg、jpeg、png格式文件）
                            p(v-if="this.store.courseWare.cover_picture") 已上传:
                                span(:style="{'color':'#2d8cf0'}") {{this.store.courseWare.cover_picture}}

                    .divTwo
                        .name
                            span 描述
                            span(:style={'color': 'red'}) *
                        .input
                            Input(clearable,style="width: 345px",size=large,placeholder="请输入描述",v-model="describe")
                    .divTwo
                        .name
                            span 课程详情
                            span(:style={'color': 'red'}) *
                        .input
                            Input(type="textarea",clearable,style="width: 345px",size=large,v-model="particulars")


    Modal(:value="addUpCourseware",title="课件上传",@on-ok="okUp()",@on-cancel="cancelUp()",width='70%',:loading="loading",:transfer="false")
        template
            Tabs(v-model="pageName")
                TabPane(label="基本信息",name="name1", icon="ios-paper-outline")
                    .addBody
                        .divTwo
                            .name
                                span 课件名称
                                span(:style={'color': 'red'}) *
                            .input
                                Input(clearable,style="width: 345px",size=large,v-model="title",placeholder="请输入课件名称")
                        .divTwo
                            .name
                                span 课程
                                span(:style={'color': 'red'}) *
                            .input
                                Select(filterable,clearable,style="width:345px",v-model="course",placeholder="选择分类")
                                    Option(v-for="item in getCType()", :value="item.name", :key="item.name") {{item.name}}
                        .divTwo
                            .name
                                span 总课时(分钟)
                                span(:style={'color': 'red'}) *
                            .input
                                Input(clearable,style="width: 345px",size=large,v-model="totalHours",placeholder="请输入总课时(分钟)")
                        .divTwo
                            .name
                                span 绑定课件工种分类
                                span(:style={'color': 'red'}) *
                            .input
                                Select(clearable,multiple,style="width:345px",v-model="typeWork",filterable,placeholder="选择分类",placement="top-start")
                                    Option(v-for="item in getType()", :value="item.name", :key="item.name") {{item.name}}
                TabPane(label="资料上传",name="name2",icon="ios-cloud-upload-outline")
                    Upload(multiple,type="drag",action="/api/workerlib/courseware/video/upload",
                    :on-success="handleSuccessVideo",:format="['ogg','mp4','WebM','ppt','pptx']",:on-format-error="handleFormatError",
                    :style={
                        'width': '90%',
                        'margin-top': '5%',
                        'margin-right': 'auto',
                        'margin-left': 'auto'
                    })
                        div(style="padding: 90px 0")
                            Icon(type="ios-add" size="52" style="color: #3399ff")
                            p 点击上传
                            p （请上传ogg,mp4,WebM格式视频或幻灯片(PPT)）
                TabPane(label="课件详情",name="name3",icon="ios-folder-outline")
                    Upload(multiple,type="drag",action="/api/workerlib/courseware/cover_picture/upload",
                    :on-success="handleSuccessPicture",:format="['jpg','jpeg','png']",:on-format-error="handleFormatPictrueError",
                    :style={
                        'width': '60%',
                        'margin-top': '3%',
                        'margin-right': 'auto',
                        'margin-left': 'auto'
                    })
                        div(style="padding: 50px 0")
                            Icon(type="ios-add" size="52" style="color: #3399ff")
                            p 封面图片
                            p （点击上传）
                    .divTwo
                        .name
                            span 描述
                            span(:style={'color': 'red'}) *
                        .input
                            Input(clearable,style="width: 345px",size=large,placeholder="请输入描述",v-model="describe")
                    .divTwo
                        .name
                            span 课程详情
                            span(:style={'color': 'red'}) *
                        .input
                            Input(type="textarea",clearable,style="width: 345px",size=large,v-model="particulars")

    Modal(:value="addUpCultivate",title="申请培训",@on-ok="okUpAdd()",@on-cancel="cancelUpAdd()",width='70%',:loading="loading",:transfer="false")
        .addBody2
            .divTwo
                .name
                    span 课件名称
                    span(:style={'color': 'red'}) *
                .input
                    Input(clearable,style="width: 345px",size=large,v-model="onUpTitle",placeholder="请输入课件名称",disabled)
            .divTwo
                .name
                    span 课程
                    span(:style={'color': 'red'}) *
                .input
                    Select(filterable,clearable,style="width:345px",v-model="course",placeholder="选择分类")
                        Option(v-for="item in getCType()", :value="item.name", :key="item.name") {{item.name}}
            .divTwo
                .name
                    span 培训老师
                    span(:style={'color': 'red'}) *
                .input
                    Select(filterable,clearable,style="width:345px",v-model="trainingTeacher")
                        Option(v-for="item in getTeacher()", :value="item.name", :key="item.name") {{item.name}}
            .divTwo
                .name
                    span 培训机构
                    span(:style={'color': 'red'}) *
                .input
                    Input(clearable,style="width: 345px",size=large,v-model="trainingInstitution",placeholder="请输入培训机构")
            .divTwo
                .name
                    span 培训日期
                    span(:style={'color': 'red'}) *
                .input
                    Row
                        Col(span="12")
                            DatePicker(v-model="startTime",type="date",placeholder="请选择",style="width: 345px")
            .divTwo
                .name
                    span 培训地点
                    span(:style={'color': 'red'}) *
                .input
                    Input(clearable,style="width: 345px",size=large,v-model="trainingAddress",placeholder="请输入地点")
            .divTwo
                .name
                    span 培训内容
                    span(:style={'color': 'red'}) *
                .input
                    Input(type="textarea",clearable,:style={'width': '345px'},size=large,v-model="mark")




    Modal(:value="updateCourseware",title="编辑",@on-ok="okEdit()",@on-cancel="cancelEdit()",width='70%',:loading="loading",:transfer="false")
        template
            Tabs(v-model="pageName")
                TabPane(label="基本信息",name="name1", icon="ios-paper-outline")
                    .addBody
                        .divTwo
                            .name
                                span 课件名称
                                span(:style={'color': 'red'}) *
                            .input
                                Input(clearable,style="width: 345px",size=large,v-model="editTitle",placeholder="请输入课件名称")
                        .divTwo
                            .name
                                span 课程
                                span(:style={'color': 'red'}) *
                            .input
                                Select(filterable,clearable,style="width:345px",v-model="editCourse",placeholder="选择分类")
                                    Option(v-for="item in getCType()", :value="item.name", :key="item.name") {{item.name}}
                        .divTwo
                            .name
                                span 总课时(分钟)
                                span(:style={'color': 'red'}) *
                            .input
                                Input(clearable,style="width: 345px",size=large,v-model="editTotalHours",placeholder="请输入总课时(分钟)")
                        .divTwo
                            .name
                                span 授课方式
                                span(:style={'color': 'red'}) *
                            .input
                                Button(disabled) 录播
                        .divTwo
                            .name
                                span 是否必学课程
                                span(:style={'color': 'red'}) *
                            .input
                                Radio(v-model="single") 是
                        .divTwo
                            .name
                                span 绑定课件工种分类
                                span(:style={'color': 'red'}) *
                            .input
                                Select(clearable,multiple,style="width:345px",v-model="editTypeWork",filterable,placeholder="选择分类",placement="top-start")
                                    Option(v-for="item in getType()", :value="item.name", :key="item.name") {{item.name}}
                TabPane(label="资料上传",name="name2",icon="ios-cloud-upload-outline")
                    .headPhotos(v-if="editVideo != ''")
                        img(:src="'/api/workerlib/preview/courseware/cover_picture/'+editId",:style={
                            'width': '100%', 'height': '100%'
                        })
                    Upload(multiple,type="drag",action="/api/workerlib/courseware/video/upload",
                    :on-success="handleSuccessVideo",:format="['ogg','mp4','WebM','ppt','pptx']",:on-format-error="handleFormatError",
                    :style={
                        'width': '140px',
                        'float': 'left',
                        'margin-left': '10px'
                    })
                        div(style="padding: 25px 0")
                            Icon(type="ios-add" size="52" style="color: #3399ff")
                            p 点击上传
                            p （请上传ogg,mp4,WebM格式视频或幻灯片(PPT)）
                TabPane(label="课件详情",name="name3",icon="ios-folder-outline")
                    .headPhotos(v-if="editParticulars != ''")
                        img(:src="'/api/workerlib/preview/courseware/cover_picture/'+editId",:style={
                            'width': '100%', 'height': '100%'
                        })
                    Upload(multiple,type="drag",action="/api/workerlib/courseware/cover_picture/upload",
                    :on-success="handleSuccessPicture",:format="['jpg','jpeg','png']",:on-format-error="handleFormatPictrueError",
                    :style={
                        'width': '140px',
                        'float': 'left',
                        'margin-left': '5%'
                    })
                        div(style="padding: 25px 0")
                            Icon(type="ios-add" size="52" style="color: #3399ff")
                            p 封面图片
                            p （点击上传）
                    .divTwo
                        .name
                            span 描述
                            span(:style={'color': 'red'}) *
                        .input
                            Input(clearable,style="width: 345px",size=large,placeholder="请输入描述",v-model="editDescribe")
                    .divTwo
                        .name
                            span 课程详情
                            span(:style={'color': 'red'}) *
                        .input
                            Input(type="textarea",clearable,style="width: 345px",size=large,v-model="editParticulars")
    Modal(title="删除",v-model="deleteCourseware",:styles="{top: '20px'}",@on-ok="okDel()",@on-cancel="cancelDel()",:transfer="false")
    Modal(title="删除",v-model="deleteCourseware",:styles="{top: '20px'}",@on-ok="okDel()",@on-cancel="cancelDel()",:transfer="false")
        .divL
            p 是否删除该课件？
    Modal(:value="addCultivate",title="开始培训",@on-ok="okAdd()",@on-cancel="cancelAdd()",width='70%',:loading="loading",:transfer="false")
        .addBody1
            .top
                .cdivOne
                    .name2
                        span 课件名称
                        span(:style={'color': 'red'}) *
                    .input
                        Input(clearable,:style={'width': '240px'},:value="this.onTitle",disabled)
                .cdivOne
                    .name2
                        span 课件简介
                        span(:style={'color': 'red'}) *
                    .input
                        Input(clearable,:style={'width': '240px'},v-model="coursewareBrief")

                .cdivOne
                    .name2
                        span 培训日期
                        span(:style={'color': 'red'}) *
                    .input
                        Row
                            Col(span="12")
                                DatePicker(v-model="startTime",type="date",placeholder="请选择",style="width: 240px")
            .top3
                .cdivOne
                    .name2
                        span 备注
                        span(:style={'color': 'red'}) *
                    .input
                        Input(type="textarea",clearable,:style={'width': '240px'},size=large,v-model="mark",:rows="4")
                .cdivOne
                    .name2
                        span 推送消息
                        span(:style={'color': 'red'}) *
                    .input
                        Input(type="textarea",clearable,:style={'width': '240px'},size=large,v-model="message",:rows="4")
            .top
                .left1
                    Button(type="primary",ghost,style="margin-left: 10px",@click="addSelected()",v-if="singleUser == false") 添加所选
                    Button(type="primary",ghost,style="margin-left: 10px",@click="addSelected()",v-else,disabled) 添加所选
                    Input(v-model="selectUserName",:style={'width': '100px', 'margin-left': '10px'},placeholder="名字",icon="ios-search-outline",@on-click="search",v-if="singleUser == false")
                    Input(v-model="selectUserName",:style={'width': '100px', 'margin-left': '10px'},placeholder="名字",icon="ios-search-outline",@on-click="search",v-else,disabled)
                    Checkbox(v-model="singleUser",:style={'margin-left': '10px'},@on-change="checkAllGroupChange()") 自有工人
                    //Select(clearable,filterable,:style={'width': '100px', 'margin-left': '10px'},placeholder="状态",v-model="selectLeave")
                    //    Option(v-for="item in getMenus()", :value="item.key",:key="item.key") {{item.value}}

                    Table(v-if="singleUser == false",border=false, ref="selection", :columns="getColumns()", :data="getData()",:row-class-name="rowClass", id="communal",
                    :style="{'margin-top': '10px'}",
                    @on-select="handleSelectRow",@on-select-all="handleSelectAll",
                    @on-select-cancel="handleSelectRowCancel",@on-select-all-cancel = "handleSelectAllCancel"
                    )
                        template(slot-scope="{ row }" ,slot="photo")
                            img(:src="'/api/workerlib/preview/alluer/photo/'+row.id",:style={'width': '50px', 'height': '50px','border-radius': '50%'},v-if="row.photo")
                            img(:src="'http://113.105.121.93:1818'+row.cwrPhoto",:style={'width': '50px', 'height': '50px','border-radius': '50%'},v-else-if="row.cwrPhoto")
                            img(src="~@/assets/css/images/headerPicture.png",:style={'width': '50px', 'height': '50px','border-radius': '50%'},v-else)
                        template(slot-scope="{row}",slot="leave")
                            span(v-if="row.leave==1") 在场
                            span(v-if="row.leave==2") 离场
                        template(slot-scope="{row}",slot="operation")
                            Button(v-if="offChecked(row.eafId)",type="primary",style="margin-right: 5px",@click="show(row.id,row.cwrIdnum,row.eafId,row.eafName,row.cwrPhoto,row.photo)") 加入培训
                            Button(v-else,type="primary",ghost,style="margin-right: 5px") 加入培训
                    div(v-if="singleUser == true",:style={'text-align':'center','margin-top': '30px','font-size':'18px'}) 已选择全部自有工人
                    div(v-if="singleUser == true",:style={'text-align':'center','margin-top': '10px'}) 共{{pageInTotal}}人
                    Page(v-if="singleUser == false",:total="pageInTotal",show-elevator,show-total,
                    @on-page-size-change="onPageSizeInChange",@on-change="onPageIndexInChange",:style={'text-align':'center','margin-top': '10px'})


                .right1(v-if="singleUser == true")
                        div(:style={
                            'text-align': 'center',
                            'margin-top': '30px',
                            'font-size': '18px'
                        }) 已选择全部自有工人
                        div(:style={
                            'text-align': 'center',
                            'margin-top': '10px'
                        }) 共{{pageInTotal}}人
                .right1(v-else)
                    .rdiv(v-for="item in this.store.checkeds")
                        .rimg
                            img(:src="'/api/workerlib/preview/alluser/photo/'+item.userId",:style={'width': '50px', 'height': '50px','border-radius': '50%'},v-if="item.photo")
                            img(:src="'http://113.105.121.93:1818'+item.cwrPhoto",:style={'width': '50px', 'height': '50px','border-radius': '50%'},v-else-if="item.cwrPhoto")
                            img(src="~@/assets/css/images/headerPicture.png",:style={'width': '50px', 'height': '50px','border-radius': '50%'},v-else)

                            span(class="image-remove",@click="show(item.userId,item.id,item.name,item.cwrPhoto,item.photo)") +
                        .rname
                            span {{item.name}}

