.body
    .topOne
        .divOne
            span 项目名称：
                Input( v-model="selectProjectName",clearable,style="width: 200px")
        .divOne
            span 单位名称：
                Input( v-model="selectUnitName",clearable,style="width: 200px")
        .divOne
            span 在场状态：
                Select(v-model="selectStatus",clearable,filterable,style="width:200px")
                    Option(v-for="item in getMenus()", :value="item.key",:key="item.key") {{item.value}}
        .search
            Button(@click="this.store.search") 搜索
    .hr
    .button
        Button(type="primary", ghost, icon="ios-add-circle-outline",@click="addUnit=!addUnit") 新增单位
        Button(type="primary", ghost, icon="ios-log-in") 同步单位
        Button(type="primary", ghost, icon="ios-log-out",@click="this.store.upload") 导出信息
        //Button(type="primary", ghost, icon="ios-add-circle-outline") 添加单位评价

    .bodyTwo
        template
            Table(border,:columns="getColumns()", :data="getData()",
            @on-select="handleSelectRow",@on-select-all="handleSelectAll",
            @on-select-cancel="handleSelectRowCancel",@on-select-all-cancel="handleSelectAllCancel")


    .footer
        Page(:total="pageTotal",show-sizer,show-elevator,show-total,@on-page-size-change="onPageSizeChange",@on-change="onPageIndexChange",:page-size=20)

    Modal(:value="addUnit",title="新增单位",@on-ok="ok()",@on-cancel="cancel()",width='50%')
        .addBody
            //.divTwo
            //    .name
            //        span 项目名称
            //        span(:style={'color': 'red'}) *
            //    .input
            //        Select(clearable,filterable,style="width:345px",v-model="project_id")
            //            Option(v-for="item in getProjectNameList()", :value="item.project_id",:key="item.project_id") {{item.project_name}}
            .divTwo
                .name
                    span 施工许可证
                    span(:style={'color': 'red'}) *
                .input
                    Input(clearable,style="width: 345px",size=large,v-model="project_license")
            .divTwo
                .name
                    span 参建单位名称
                    span(:style={'color': 'red'}) *
                .input
                    Input(clearable,style="width: 345px",size=large,v-model="unit_name")

            .divTwo
                .name
                    span 参建单位编号
                    span(:style={'color': 'red'}) *
                .input
                    Input(clearable,style="width: 345px",size=large,v-model="unit_number")
            .divTwo
                .name
                    span 当前人数
                    span(:style={'color': 'red'}) *
                .input
                    Input(clearable,style="width: 345px",size=large,v-model="people_number")
            .divTwo
                .name
                    span 入场日期
                    span(:style={'color': 'red'}) *
                .input
                    template
                        Row
                            Col(span="12")
                                DatePicker(v-model="entrance_time",type="date",placeholder="请选择",style="width: 345px")
            .divTwo
                .name
                    span 负责人
                    span(:style={'color': 'red'}) *
                .input
                    Input(clearable,style="width: 345px",size=large,v-model="principal")
            .divTwo
                .name
                    span 在场状态
                    span(:style={'color': 'red'}) *
                .input
                    Select(clearable,filterable,style="width:345px", v-model="status")
                        Option(v-for="item in getMenus()", :value="item.key",:key="item.key") {{item.value}}
            .divTwo
                .name
                    span 单位类型
                    span(:style={'color': 'red'}) *
                .input
                    Select(clearable,filterable,style="width:345px", v-model="unit_type")
                        Option(v-for="item in getType()", :value="item.value",:key="item.value") {{item.name}}


