.body
    div
        p(:style="{fontSize: '16px',fontWeight: 'bold'}") 人员管理

        div(class="selectedList")
            span(:style="{fontSize: '16px',float: 'left',marginRight: '10px',paddingTop: '14px',color: '#789fef'}") 已选条件
            div(class="selected",v-if="selectProjectId") {{getProjectName()}}
                Icon(type="ios-backspace-outline",@click="clearProject()")
            div(class="selected",v-if="selectWorkType") {{selectWorkType}}
                Icon(type="ios-backspace-outline")
            div(class="selected",v-if="selectStatus") {{selectStatus}}

        div(class="select",v-if="pullDown == false")
            div(class="divSelect")
                div(class="selectTitle") 所属公司
                div(class="selectValue")
                    Col(style="padding-right:10px")
                        Select(filterable,clearable)


                            //Option(v-for="item in cityList" :value="item.value" :key="item.value") {{ item.label }}




            //div(class="divSelect")
            //    div(class="selectTitle") 项目名称
            //    div(class="selectValue")
            //        Col(style="padding-right:10px")
            //            Select(filterable,clearable,v-model="selectProjectId")
            //                Option(v-for="item in getProjectList()",:value="item.projectId",:key="item.projectId") {{ item.projectName}}
            //div(class="divSelectMin")
            //    div(class="selectTitleMin") 工种
            //    div(class="selectValueMin")
            //        Col(style="padding-right:10px")
            //            Select(filterable,clearable,v-model="selectWorkType")
            //                Option(v-for="item in getWorkTypeList()",:value="item.workTypeName",:key="item.workTypeName") {{ item.workTypeName}}
            //div(class="divSelectMin")
            //    div(class="selectTitleMin") 状态
            //    div(class="selectValueMin")
            //        Col(style="padding-right:10px")
            //            Select(filterable,clearable,v-model="selectStatus")
            //                Option(v-for="item in getStatusList()",:value="item.statusName",:key="item.statusName") {{ item.statusName}}

        div(class="selectedPullDown",v-else)
            //div(class="divSelect")
            //    div(class="selectTitle") 所属公司
            //    div(class="selectValue")
            //        Col(style="padding-right:10px")
            //            Select(filterable,clearable)
            //                //Option(v-for="item in cityList" :value="item.value" :key="item.value") {{ item.label }}
            //div(class="divSelect")
            //    div(class="selectTitle") 项目名称
            //    div(class="selectValue")
            //        Col(style="padding-right:10px")
            //            Select(filterable,clearable,v-model="selectProjectId")
            //                Option(v-for="item in getProjectList()",:value="item.projectId",:key="item.projectId") {{ item.projectName}}
            //div(class="divSelectMin")
            //    div(class="selectTitleMin") 工种
            //    div(class="selectValueMin")
            //        Col(style="padding-right:10px")
            //            Select(filterable,clearable,v-model="selectWorkType")
            //                Option(v-for="item in getWorkTypeList()",:value="item.workTypeName",:key="item.workTypeName") {{ item.workTypeName}}
            //div(class="divSelectMin")
            //    div(class="selectTitleMin") 状态
            //    div(class="selectValueMin")
            //        Col(style="padding-right:10px")
            //            Select(filterable,clearable,v-model="selectStatus")
            //                Option(v-for="item in getStatusList()",:value="item.statusName",:key="item.statusName") {{ item.statusName}}
        div(class="pullDown",v-if="pullDown == false")
            img(src="~@/assets/css/images/下拉.png",@click="switchTo()")
        div(class="pullDown",v-else)
            img(src="~@/assets/css/images/上拉.png",@click="switchTo()")


    //.topOne
    //    .One(class="One")
    //        span 人员评价管理
    //    //        Input( v-model="selectProjectName",clearable,style="width: 200px")
    //    .divOne(class="Two")
    //        span 已选条件
    //    .divOne
    //        Tag(type="dot" closable color="primary")
    //    //    span 在场状态：
    //    //        Select(v-model="selectStatus",clearable,filterable,style="width:200px")
    //    //            Option(v-for="item in getMenus()", :value="item.key",:key="item.key") {{item.value}}
    //    .search
    //        Button(@click="search()" type="primary") 查询
    //        Button(@click="search()" ) 重置

    .button
        Button(type="primary", ghost, icon="ios-add-circle-outline",@click="addUnit=!addUnit") 新增评价
        Button(type="primary", ghost, icon="ios-add-circle-outline",@click="addUnit=!addUnit") 查看统计
        //Button(type="primary", ghost, icon="ios-log-in",@click="synchronization()",v-if="this.roleName=='IT管理员'") 同步单位
        Button(type="primary", ghost, icon="ios-log-out",@click="upload()") 导出
        //Button(type="primary", ghost, icon="ios-add-circle-outline") 添加单位评价

    .bodyTwo
        template
            Table(border,:columns="getColumns()", :data="getData()",
            @on-select="handleSelectRow",@on-select-all="handleSelectAll",
            @on-select-cancel="handleSelectRowCancel",@on-select-all-cancel="handleSelectAllCancel")
                template(slot-scope="{row,index}",slot="serialNumber")
                    span {{index+(pageIndex-1) * pageSize +1}}
                template(slot-scope="{row,index}",slot="action")
                    //Button(type="primary" style="margin-right: 5px" @click="show(index)" shape="circle") 详细操作
                    div(class="operation") 详细操作
    .footer
        Page(:total="pageTotal",show-sizer,show-elevator,show-total,@on-page-size-change="onPageSizeChange",@on-change="onPageIndexChange",:page-size=20)
        .addBody
            //.divTwo
            //    .name
            //        span 项目名称
            //        span(:style={'color': 'red'}) *
            //    .input
            //        Select(clearable,filterable,style="width:345px",v-model="project_id")
            //            Option(v-for="item in getProjectNameList()", :value="item.project_id",:key="item.project_id") {{item.project_name}}
            .divTwo
                .name
                    span 姓名
                    span(:style={'color': 'red'})
                .input
                    Input(clearable,style="width: 345px",size=large,v-model="project_license" disabled="disabled")
            .divTwo
                .name
                    span 选择项目
                    span(:style={'color': 'red'}) *
                .input
                    Input(clearable,style="width: 345px",size=large,v-model="unit_name")
            .divTwo
                .name
                    span 评价描述
                    span(:style={'color': 'red'})
                .input
                    Input(clearable, type="textarea" :rows="2" style="width: 345px",size=large,v-model="unit_number" placeholder="默认评价..." )
            .divTwo
                .name
                    span 添加图片
                    span(:style={'color': 'red'})
                .demo-upload-list(v-for="item in uploadList")
                    template(v-if="item.status === 'finished'")
                        img(:src="item.url")
                        .demo-upload-list-cover
                            Icon(type="ios-eye-outline" @click.native="handleView(item.name)")
                            Icon(type="ios-eye-outline" @click.native="handleRemove(item)")
                    template(v-else)
                        progress(v-if="item.showProgress" :percent="item.percentage" hide-info)
                Upload(class="upload",
                     ref="upload"
                    :show-upload-list="false"
                    :default-file-list="defaultList"
                    :on-success="handleSuccess"
                    :format="['jpg','jpeg','png']"
                    :max-size="2048"
                    :on-format-error="handleFormatError"
                    :on-exceeded-size="handleMaxSize"
                    :before-upload="handleBeforeUpload"
                    multiple
                    type="drag"
                    action="//jsonplaceholder.typicode.com/posts/"
                    style="display: inline-block;width:58px;")
                    div(style="width: 58px;height:58px;line-height: 58px;")
                        Icon(type="ios-camera" size="20")
                Modal(title="View Image" v-model="visible")
                    img(:src="'https://o5wwk8baw.qnssl.com/' + imgName + '/large'" v-if="visible" style="width: 100%")
            .rightBody
                template
                    .divThree
                        .name
                            span 态度
                        Rate(v-model="value")
                    .divThree
                        .name
                            span 技术
                        Rate(v-model="value")
                    .divThree
                        .name
                            span 专业
                        Rate(v-model="value")
        div(slot="footer")
            Button(type="warning" size="large" long :loading="modal_loading" @click="del") 提交

            //.divTwo
            //    .name
            //        span 当前人数
            //        span(:style={'color': 'red'}) *
            //    .input
            //        Input(clearable,style="width: 345px",size=large,v-model="people_number")
            //.divTwo
            //    .name
            //        span 入场日期
            //        span(:style={'color': 'red'}) *
            //    .input
            //        template
            //            Row
            //                Col(span="12")
            //                    DatePicker(v-model="entrance_time",type="date",placeholder="请选择",style="width: 345px")
            //.divTwo
            //    .name
            //        span 负责人
            //        span(:style={'color': 'red'}) *
            //    .input
            //        Input(clearable,style="width: 345px",size=large,v-model="principal")
            //.divTwo
            //    .name
            //        span 在场状态
            //        span(:style={'color': 'red'}) *
            //    .input
            //        Select(clearable,filterable,style="width:345px", v-model="status")
            //            Option(v-for="item in getMenus()", :value="item.key",:key="item.key") {{item.value}}
            //.divTwo
            //    .name
            //        span 单位类型
            //        span(:style={'color': 'red'}) *
            //    .input
            //        Select(clearable,filterable,style="width:345px", v-model="unit_type")
            //            Option(v-for="item in getType()", :value="item.value",:key="item.value") {{item.name}}


